<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style1.css">
</head>
<body>
  
   <section>
   
  <div class="login-box">
    <h1 class="headi">Welcome!</h1>
    <h3  class="short">You've Successfully Logged In.</h3>
      <form action="/signout" method="get">
        <button type="submit" class="btnsub">Sign Out</button>
          
      </form>
  </div>
</section>
  
</body>
</html>


